.modalEnterActive,
.modalLeaveActive {
  transition: all .6s ease;
}

.modalEnterFrom,
.modalLeaveTo {
  opacity: 0;
  transform: scale(1.1);
}

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  >.modal {
    width: 320px;
    background: #fff;
    border-radius: 8px;
    z-index: 101;
    > header {
        display: flex;
        align-items: center;
        background: #2084F8;
        color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-family: AlibabaPuHuiTiRegular;
        > .gap {
            flex: 1;
        }
    }
  }
}