@font-face {
    font-family: 'DingTalkJinBuTi';
    src: url('/fonts/DingTalkJinBuTi.woff') format('woff'),
        url('/fonts/DingTalkJinBuTi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTiRegular';
    src: url('/fonts/AlibabaPuHuiTiRegular.woff') format('woff'),
        url('/fonts/AlibabaPuHuiTiRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}